<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="personalization" translate="label" sortOrder="41" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Product Personalization</label>
            <tab>catalog</tab>
            <resource>Magento_Catalog::config_catalog</resource>
            <group id="artifi" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Artifi Integration</label>
                <field id="api_domain" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Web API Domain Name</label>
                </field>
                <field id="api_client_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Web API Client Key</label>
                </field>
                <field id="website_id" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Website ID</label>
                </field>
            </group>
        </section>
    </system>
</config>
